{% extends "upload_form/base.html" %}

{% block title %}Procesinng result{% endblock title %}
{% block content %}
    <div align="center">
        <h1 align="center">Processing result</h1>
        <a href="{% url 'upload_form:form' %}"><button>戻る</button></a>
    </div>
    <table align='center' border=0 align=left>
        <tr>
        <td>
    <table align='center' border=1 align=left>
    <caption>Body parameters</caption>
      <tr>
        <td>param.</td>
        <td>value est. by Own [cm]</td>
        <td>value est. by Lucas [cm]</td>
      </tr>
      <tr>
        <td>Neck Circum.</td>
        <td>{{neck_circumference|floatformat}}</td>
        <td>{{lucas_neck_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td>Bicep length</td>
        <td>{{bicep_length|floatformat}}</td>
        <td>{{lucas_bicep_length|floatformat}}</td>
      </tr>
      <tr>
        <td>Bicep Circum.</td>
        <td>{{neck_circumference|floatformat}}</td>
        <td>{{lucas_bicep_circum|floatformat}}</td>
      </tr>
      <tr>
        <td>Fore arm length</td>
        <td>{{fore_arm_length|floatformat}}</td>
        <td>{{lucas_fore_arm_length|floatformat}}</td>
      </tr>
      <tr>
        <td>Fore arm circum.</td>
        <td>{{fore_arm_circumference|floatformat}}</td>
        <td>{{lucas_fore_arm_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td>Wrist circum.</td>
        <td>{{wrist_circumference|floatformat}}</td>
        <td>{{lucas_wrist_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td>Shoulder width</td>
        <td>{{shoulder_width|floatformat}}</td>
        <td>{{lucas_shoulder_width|floatformat}}</td>
      </tr>
      <tr>
        <td>Chest circum.</td>
        <td>{{chest_circumference|floatformat}}</td>
        <td>{{lucas_chest_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td> Waist Circum.</td>
        <td>{{waist_circumference|floatformat}}</td>
        <td>{{lucas_waist_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td> Thigh length</td>
        <td>{{thigh_length|floatformat}}</td>
        <td>{{lucas_thigh_length|floatformat}}</td>
      </tr>
      <tr>
        <td> Thigh circum.</td>
        <td>{{thigh_circumference|floatformat}}</td>
        <td>{{lucas_thigh_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td> Calf length</td>
        <td>{{calf_length|floatformat}}</td>
        <td>{{lucas_calf_length|floatformat}}</td>
      </tr>
      <tr>
        <td> Calf circum.</td>
        <td>{{calf_circumference|floatformat}}</td>
        <td>{{lucas_calf_circumference|floatformat}}</td>
      </tr>
      <tr>
        <td> Ankle circum.</td>
        <td>{{ankle_circumference|floatformat}}</td>
        <td>{{lucas_ankle_circumference|floatformat}}</td>
      </tr>
    </table>

        </td>
        <td>
    <table align='center' border=1>
    <caption>Crothing parameters</caption>
      <tr>
        <td>param.</td>
        <td>value est. by Own [cm]</td>
        <td>value est. by Lucas [cm]</td>
      </tr>
        <td>Sleeve length</td>
        <td>{{sleeve_length|floatformat}}</td>
        <td>{{lucas_sleeve_length|floatformat}}</td>
      </tr>
      <tr>
        <td>Trouser length</td>
        <td>{{trouser_length|floatformat}}</td>
        <td>{{lucas_trouser_length|floatformat}}</td>
      </tr>
      <tr>
        <td>Trouser inside length</td>
        <td>{{trouser_inside_length|floatformat}}</td>
        <td>{{lucas_trouser_inside_length|floatformat}}</td>
      </tr>
    </table>
        <td>
    </tr>
    </table>

    {% load static%}
    <img src="{% static "posts/frontal_outline.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/side_outline.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/frontal_estimate.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/side_estimate.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/frontal_pose.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/side_pose.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/frontal_binary.png"%}" style="max-height:500px"/>
    <img src="{% static "posts/side_binary.png"%}" style="max-height:500px"/>

    
{% endblock content %}
