{% extends "upload_form/base.html" %}

{% block title %}Bodygram v2{% endblock title %}
{% block content %}

    <h1> Bodygram v2</h1>
    <h2>1. Please take photos from the front and side.</h2>
    {% load static%}
    <img src="{% static "posts/notice.png"%}" style="max-height:300px"/>
    <br>
    <br>
    <h2>2. Select the front/side photo and push the 'front'/'side' button.</h2>
    <form method="POST" enctype="multipart/form-data">
        <table align='center' border=0 align=left>
        <tr>
        <td>
        <p>
            <input type="file"   name="form">
            <input type="submit" name="frontal" value='front'>
            <input type="submit" name="side"    value='side'>
			<font color="red">{{file_is_not_set}}</font>
        </p>
    </td>
    </tr>
        <tr>
        <td>
        <figure id='front' style='text-align:center'>
        <img src="{% static "posts/frontal_raw.png"%}?v={{query_for_frontal}}" style="max-height:500px"/>
        <figcaption>Front image</figcaption>
        </td>
        <td>
        </figure>
        <figure id='side' style='text-align:center'>
        <img src="{% static "posts/side_raw.png"%}?v={{query_for_side}}" style="max-height:500px"/>
        <figcaption>Side image</figcaption>
        </figure>
        </td>
        </tr>
        </table>
        {% csrf_token %}

        <br>
        <h2>3. Input a body parameters 'Height' and 'Weight'.</h2>
        <p>Height:<input type="text"   name="height">
            <input type="radio" name="unit_height" value='cm' checked>cm
            <input type="radio" name="unit_height" value="ft'in">ft'in
        </p>
        <p>Weight:<input type="text"   name="weight">
            <input type="radio" name="unit_weight" value='kg' checked>kg
            <input type="radio" name="unit_weight" value='lb'>lb
        </p>

        <br>
        <h2>4. Please choose the type of clothing you are wearing.</h5>
        <p>
        <input type="radio" name="cloth" value='Tight'>Tight
        <input type="radio" name="cloth" value='Normal' checked>Normal
        <input type="radio" name="cloth" value='Loose'>Loose
        </p>

        <h2>5. Please press the 'process' button to start sizing.</h5>
        <div align=center >
        <p><input type="submit" name="process" value='process'style="font-size:2.4em; WIDTH: 200px; HEIGHT: 100px"></p>
        </div>
        <br>
        <hr>
        <h4>Dubug parameters<h4>
        <p>resize:<input type="text" name="resize" value='512'></p>
        <p>Bicep critical value:<input type="text" name="bicep_critical_value" value='0,40'> degree</p>
        <p>gpu_ids:<input type="text" name="gpu_ids" value='0,1'></p>

    </form>
{% endblock content %}
